<?xml version="1.0"?>
<config>
    <modules>
        <Facilestore_Freteproduto>
            <version>1.0.0</version>
        </Facilestore_Freteproduto>
    </modules>

    <global>
        <blocks>
            <Freteproduto>
                <class>Facilestore_Freteproduto_Block</class>
            </Freteproduto>
        </blocks>
        <helpers>
            <Freteproduto>
                <class>Facilestore_Freteproduto_Helper</class>
            </Freteproduto>
        </helpers>
    </global>
    <frontend>
        <routers>
            <Freteproduto>
                <use>standard</use>
                <args>
                    <module>Facilestore_Freteproduto</module>
                    <frontName>Freteproduto</frontName>
                </args>
            </Freteproduto>
        </routers>
        <layout>
            <updates>
                <Freteproduto>
                    <file>Facilestore_Freteproduto.xml</file>
                </Freteproduto>
            </updates>
        </layout>
        <translate>
            <modules>
                <Facilestore_Freteproduto>
                    <files>
                        <default>Facilestore_Freteproduto.csv</default>
                    </files>
                </Facilestore_Freteproduto>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <facilestore_freteproduto>
                                            <title>Facile Store</title>
                                        </facilestore_freteproduto>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <facilestore_freteproduto>
            <general>
                <enable>1</enable>
                <enable_jquery>0</enable_jquery>
            </general>
        </facilestore_freteproduto>
    </default>
</config>